# --- [ BACKEND: todo-api ] ---
todo-api/bin/
todo-api/obj/
todo-api/out/
todo-api/.vs/
todo-api/*.user
todo-api/*.db
todo-api/appsettings.Development.json

# --- [ FRONTEND: todo-web ] ---
todo-web/node_modules/
todo-web/dist/
todo-web/dist-ssr/
todo-web/*.local
todo-web/.vscode/
todo-web/.env.local
todo-web/.env.development.local
todo-web/.env.test.local
todo-web/.env.production.local

# --- [ GERAL ] ---
.DS_Store
screenshots/*.png
!screenshots/home.png
!screenshots/dashboard.png
Thumbs.db
*.log